// Define variables for your color scheme

// For example:
$red: #ED727C;
$blue: #538CD4;
$hover-blue: #4573AC;
$yellow: #FDB631;
$orange: #F5A623;
$green: #32B796;
$gray: #4A4A4A;
$light-gray: #9B9B9B;
$trans-blue: #8AB9F4;
