// Specific CSS for your home-page
.featured-kitch-box {
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: 0px;
  left: 80px;
  color: white;
  padding: 10px;
  word-wrap: break-word;
  h5 {
    font-weight: 700;
    font-size: 32px;
  }
  p {
    position: absolute;
    bottom: 0px;
    left: 10px;
  }
}
@media (max-width:420px) {
  .featured-kitch-box {
    width: 100% !important;
  }
  .featured-kitch-box {
    height: 100px !important;
  }
}
@media (max-width: 1266px) {
  .featured-kitch-box {
    left: 0px;
    height: 150px;
    h5 {
      font-size: 28px;
    }
  }
}
@media (max-width: 767px) { // narrow viewport only
    .media-test {
        display: none;
    }
    .how-it-works-card {
      display: flex;
      justify-content: center;
      padding: 20px 0px;
      .hiw-text-cont {
        padding-left: 20px;
      }
    }
}
.neg-btm-marg {
  margin-bottom: -10px;
}
@media (min-width: 767px) { // bigger than the narrow viewport
    .mobile-header {
        display: none;
    }
    .how-it-works-banner {
      display: flex;
      justify-content: space-around;

    }
}
@media (max-width: 447px ) {
  .how-it-works-card {
    display: block;
  }
  .hiw-text-cont {
    max-width: 90% !important;
    padding-left: 10%;
  }
}

.type-box {
  display: flex;
  align-items: center;
  min-width: 600px;
}

.typed-cursor {
  font-size: 55px;
  margin-bottom: 24px;
}

/* If fade out option is set */
.typed-fade-out {}

.bold {
  font-size: 45px;
  font-weight: 700;
}
.blog-box {
  position: relative;
}
.corner-box {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 45%;
  height: 40%;
  h4 {
    color:white;
    position: absolute;
    bottom: 5px;
    left: 15px;
  }
}
.how-it-works-card {
  text-align: center;
}
.how-it-works-banner {
  padding: 50px 6vw;
}
.hiw-text-cont {
  padding-top: 20px;
  max-width: 280px;
  word-wrap: break-word;
}
html, body {
  width: 100%;
  height: 100%;
}

.docScroller {
  background-size: 400px 400px;
  width: 100vw;
  height: 100vh;
  white-space: nowrap;
  overflow-y: hidden;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: mandatory;
  /* older spec implementation */
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-x: repeat(100%);
}
  
.page {
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  font-size: initial;
}

.inside {
  width: 90vw;
  margin: 8vh 0 0 5vw;
  height: 80vh;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-out;
  h1 {
    opacity: 0.9;
    text-align: center;
    margin-top: 30vh;
    font-size: 3vw;
    padding: 8px 0 10px;
  }
}


