// Specific CSS for your home-page
.featured-kitch-box {
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: 0px;
  left: 80px;
  color: white;
  padding: 10px;
  word-wrap: break-word;
  h5 {
    font-weight: 700;
    font-size: 32px;
  }
  p {
    position: absolute;
    bottom: 0px;
    left: 10px;
  }
}
@media (max-width:420px) {
  .featured-kitch-box {
    width: 100% !important;
  }
  .featured-kitch-box {
    height: 100px !important;
  }
}
@media (max-width: 1266px) {
  .featured-kitch-box {
    left: 0px;
    height: 150px;
    h5 {
      font-size: 28px;
    }
  }
}
@media (max-width: 767px) { // narrow viewport only
    .media-test {
        display: none;
    }
    .how-it-works-card {
      display: flex;
      justify-content: center;
      padding: 20px 0px;
      .hiw-text-cont {
        padding-left: 20px;
      }
    }
}
.neg-btm-marg {
  margin-bottom: -10px;
}
@media (min-width: 767px) { // bigger than the narrow viewport
    .mobile-header {
        display: none;
    }
    .how-it-works-banner {
      display: flex;
      justify-content: space-around;

    }
}
@media (max-width: 447px ) {
  .how-it-works-card {
    display: block;
  }
  .hiw-text-cont {
    max-width: 90% !important;
    padding-left: 10%;
  }
}

.type-box {
  display: flex;
  align-items: center;
  min-width: 600px;
}

.typed-cursor {
  font-size: 55px;
  margin-bottom: 24px;
}

/* If fade out option is set */
.typed-fade-out {}

.bold {
  font-size: 45px;
  font-weight: 700;
}
.blog-box {
  position: relative;
}
.corner-box {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 45%;
  height: 40%;
  h4 {
    color:white;
    position: absolute;
    bottom: 5px;
    left: 15px;
  }
}
.how-it-works-card {
  text-align: center;
}
.how-it-works-banner {
  padding: 50px 6vw;
}
.hiw-text-cont {
  padding-top: 20px;
  max-width: 280px;
  word-wrap: break-word;
}
html, body {
  width: 100%;
  height: 100%;
}

.kiazma-banner-content{
  width:100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25));
  padding-bottom: 30px;
  position:fixed;
  z-index: 2;
  top:120px;
  text-align: center;
  height: 30vh;
}

.kiazma-banner-content:hover{
  opacity: 0.6;
}
.kiazma-btn-title {
  color: #777777;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.9;
}
.kiazma-btn-title:hover {
  opacity: 1;
  text-decoration: none;
  color: #fff;
  background-color: #fcb5b5;
}

#kiazma-link {
  padding: 40px;
  height:100%;
  width: 15%;
  position: absolute;
  left: 85%;
  top:0%;
  color: white;
  background-color:#111;
  opacity: 0.7;
  background: linear-gradient(to right, inherit, rgba(0,0,0,1));
}

#kiazma-link:hover{
  opacity:1;
}

i{
  padding: 25px;
}
