.invoice-container {
  position: relative;
  height: 2000px;
  padding: 0px 80px;
}
@media(max-width: 600px) {
  .invoice-container {
    padding: 0;
  }
  .inv-image {
    width: 400px;
  }

}
@media print {
  .inv-image {
    position: fixed;
    top: 40px;
    right: 40px;
  }
  .payment-advice {
    display: block;
    page-break-before: always;
  }
  .download {
    display: none;
  }
}

.pay-cont {
  padding-left: 60px;
}
.inv-image {
  width: 500px;
  padding: 20px;
}
.inv-desc {
  width: 50%;
}
.inv-quant {
  width: 12%;
}
.inv-price {
  width: 12%;
}
.inv-amount {
  width: 26%;
}
.vert-pad {
  padding: 50px 0px;
}
.table-cont {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.top-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.table-cont {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.data-rows {
  border-top: none;
}

.data {
  border: none;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.data-no-bord {
  border: none;
  text-align: center;
}
.data-desc {
  border: none;
  text-align: left;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.data-desc-no-bord {
  border: none;
  text-align: left;
}
.data-heavy-bord {
  border: none;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0,0,0,1);
}
.pay-info-heavy-bord {
  border: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(0,0,0,1);
}
.head {
  border: none;
  border-bottom: 2px solid rgba(0,0,0,1);
}
.due-cont {
  padding-top: 50px;
  display:flex;
  justify-content: left;
  flex-wrap: wrap;
  border-bottom: 2px dashed rgba(0,0,0,1);
}
.payment-advice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}
.payment-dest {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}
.payment-info {
  margin-top: 50px;
}

