.align-logo{
  margin-left: .9rem;
}

.wrapper{
  height: 100%;
}

.box{
  height: auto;
  width: 100%;
  color: $blue;
  text-align: center;
}

#filter-fields {
}

.filter-btn {
  padding: 0.375rem 40px;
  margin-right: 10px;
}

.select2-container {
  height: 38px;
}
