.password-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20vh;

}

.password-form-container {
  width: 500px;
  margin-top: 20px;
  h2 {
    text-align: center;
  }
}

.password-form {
  margin-top: 80px;
  padding: 0 40px;
}

.password-links-container {
}

.password-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  a {
    margin: 0 10px;
  }
}

.password-reset {
  margin-top: 10px;
  width: 100%
}

@media (min-width: 1000px) {
  .password-image {
    flex-grow: 1;
    height: calc(100vh - 70px);
  }
  .password-form {
    margin-top: 160px;
    padding: 0 100px;
  }
}
