<div class="docScroller">
  <div class="banner page one" style="background-image: url('<%= image_path('blackandwhitecover.jpg')%>'); background-position-y: -200px;">
    <div class="banner-content inside">
      <h1 class="title">Kiazma </p>
      <h2 class="tag">We let our work speak for us.</h2>
      <a class="btn btn-default btn-lg btn-title">Contact us</a>
      <div class="link">
        <i class="fas fa-arrow-right fa-9x"></i>  
      </div>
    </div>
  </div>
    <div class="page two">
      <div class="inside">
        <h1>By lines of code</h1>
      </div>
    </div>
    <div class="page three">
      <div class="inside">
        <h1>Is like measuring aircraft building progress</h1>
      </div>
    </div>
    <div class="page four">
      <div class="inside">
        <h1>By weight.</h1>
      </div>
    </div>
</div>
