

  <div class="banner page one" style="background-image: url('<%= image_path('blackandwhitecover.jpg')%>'); background-position-y: -200px;">
    <div class="kiazma-banner-content">
      <h1 class="kiazma-title">Kiazma </h1>
      <h2>Our work speaks for us.</h2>
      <a class="btn btn-default btn-lg kiazma-btn-title">Contact us</a>
      <div id="kiazma-link">
        <i class="fas fa-arrow-right fa-9x"></i>  
      </div>
    </div>
    <div class="testi" style="height: 2000px; width: 1000px; background-color: pink">
      
    </div>
  </div>
  <div class="page" id="two">
        <div class="testi" style="height: 2000px; width: 1000px; background-color: blue">
      
    </div>
  </div>

  <div class="page three">
      <h1>Is like measuring aircraft building progress</h1>
  </div>
  <div class="page four">
      <h1>By weight.</h1>
  </div>
