<div class="banner-content inside">
  <h1 class="title">Kiazma </p>
  <h2>Our work speaks for us.</h2>
  <a class="btn btn-default btn-lg btn-title">Contact us</a>
  <div id="link">
    <i class="fas fa-arrow-right fa-9x"></i>  
  </div>
</div>

<div class="docScroller">
  <div class="banner page one" style="background-image: url('<%= image_path('blackandwhitecover.jpg')%>'); background-position-y: -200px;">
  </div>
  <div class="page" id="two">
    <div class="inside">
      <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>  Kitchup
</title>
    <meta name="description" content="Find and book commercial kitchen space in London. From shared spaces and private units to pop-ups and media studios, find the right kitchen for you.">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Kitchup - The place for kitchen space" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.kitchup.co.uk/" />
    <meta property="og:image" content="https://www.kitchup.co.uk/assets/cover-1de69abffb75396adc6e09195f8c76774b4dabf73362cfabd565f3fcd155cd16.jpg" />
    <meta property="og:description" content="Find and book commercial kitchen space in London. From shared spaces and private units to pop-ups and media studios, find the right kitchen for you." />
    <meta property="og:site_name" content="Kitchup - The place for kitchen space" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@KitchupUK">
    <meta name="twitter:title" content="Kitchup - The place for kitchen space">
    <meta name="twitter:description" content="Find and book commercial kitchen space in London. From shared spaces and private units to pop-ups and media studios, find the right kitchen for you.">
    <meta name="twitter:creator" content="@KitchupUK">
    <meta name="twitter:image:src" content="https://www.kitchup.co.uk/assets/cover-1de69abffb75396adc6e09195f8c76774b4dabf73362cfabd565f3fcd155cd16.jpg">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-85debe73ae175e7234c3263122e845cad3d44badc5d7105584e8c666f70cf57b.ico" />
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="pLQjEXPhp+wVVDHojMJJccyy+k93CTwZrBF8/DOiJhuML1MzWkBOWXJ6q83MiDqDJowwphTnRsxMXU8aYWf4qA==" />
    <meta name="action-cable-url" content="wss://kitchup-production.herokuapp.com/cable" />
    <link rel="stylesheet" media="all" href="/assets/application-4e5367df60ee6953836570ac2c5fe8c18d51e8de2f0b1c28b47362760193bef6.css" />
    <link rel="stylesheet" media="screen" href="/packs/application-7af2ea22e61f05138f246a8bc13ff666.css" />
    <div id="guest-notifications" data-user="" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66334244-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-66334244-1');
    </script>
  </head>
  <body>
      <!-- ############################################################################################# -->
<!-- LANDING PAGE NAVBAR -->
<!-- ############################################################################################# -->
<div class="fixed-navbar">
  <div class="navbar-wagon">
    <!-- Logo -->
      <a class="navbar-wagon-brand d-flex" href="/">
        <img height="48" src="/assets/LHSKitchupWhite-a4fd923af10de3b8471caad22e73640317ebdf97dfc5eb3af9f9ffb5b44bfebb.png" alt="Lhskitchupwhite" />
        <!-- <h2 class="navbar-logo-title white-for-landing-page">Kitchup</h2> -->
</a>
    <!-- Right Navigation -->
    <div class="navbar-wagon-right d-none d-md-block">
        <a class="navbar-wagon-item navbar-wagon-link white-for-landing-page list-a-kitchen-btn" href="/users/sign_up?from_list_a_kitchen=true">List a kitchen</a>
        <a class="navbar-wagon-item navbar-wagon-link white-for-landing-page" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          How it works
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="howItWorksDropdown">
          <a class="navbar-wagon-item navbar-wagon-link-dark" href="/find_a_kitchen">Find a kitchen</a><br>
          <a class="navbar-wagon-item navbar-wagon-link-dark" href="/list_a_kitchen">List a kitchen</a><br>
          <a class="navbar-wagon-item navbar-wagon-link-dark" href="/faq">FAQs</a>
        </div>
        <a class="navbar-wagon-item navbar-wagon-link white-for-landing-page pl-0" href="/users/sign_up">Sign up</a>
        <a class="navbar-wagon-item navbar-wagon-link white-for-landing-page pl-0" href="/users/sign_in">Login</a>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="btn-group d-md-none d-lg-none d-xl-none">
      <div class="dropdown">
        <i class="fas fa-bars fa-lg color-white" style="cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton"></i>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <li class="dropdown-item"><a class="navbar-wagon-item navbar-wagon-link-dark dropdown-item" href="/users/sign_up?from_list_a_kitchen=true">List a kitchen</a></li>
          <div class="dropdown-divider"></div>
            <li class="dropdown-item"><a class="navbar-wagon-item navbar-wagon-link-dark" href="/find_a_kitchen">Find a kitchen</a></li>
            <li class="dropdown-item"><a class="navbar-wagon-item navbar-wagon-link-dark" href="/list_a_kitchen">List a kitchen</a></li>
            <li class="dropdown-item"><a class="navbar-wagon-item navbar-wagon-link-dark" href="/faq">FAQs</a></li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-item"><a class="navbar-wagon-item navbar-wagon-link-dark" href="/users/sign_up">Sign up</a></li>
            <li class="dropdown-item"><a class="navbar-wagon-item navbar-wagon-link-dark" href="/users/sign_in">Login</a></li>
        </div>
      </div>
    </div>

  </div>
</div>


    
    

<div style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://res.cloudinary.com/dd5qgkski/image/upload/q_auto/v1525259744/hqdbz5jxhxxxnc62zqal.jpg'); background-position: 50% 50%" class="banner">
  <div class="banner-content">
    <div class="mobile-header">
      <h1 class="mb-4">The place for kitchen space</h1>
    </div>
    <div class="desktop-header d-flex justify-content">
      <div class="media-test">
        <h1 class="neg-btm-marg">The place for  </h1>
        <div class="type-box">
          <h1 class="mb-4" id="banner-typed-text"></h1>
        </div>
      </div>
    </div>
    <!-- On all screens except mobile -->
    <div class="search-bar d-flex">
      <form class="simple_form d-flex searchform form-control-group" id="homesearch" novalidate="novalidate" action="/kitchens" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <input class="form-control string required form-control-searchbar mt-2" placeholder="Where are you looking? E.g. Battersea" type="text" name="kitchen[search]" id="kitchen_search" />
  <button type="submit" class="search-button"><i class="fas fa-search"></i><span class="mob-hide">  Search</span></button>
</form>


<script>
  document.getElementById('kitchen_search').onkeydown = function(e){
   if(e.keyCode == 13){
     document.getElementById("homesearch").submit()
   }
};
</script>

    </div>
  </div>
  <a href="/kitchens/32">
    <div class="featured-kitch-box orange">
      <h5>Shoreditch Serviced Kitchen</h5>
        <p class="mb-1">£1500 / month</p>
    </div>
</a></div>
<!-- ################################################################################################################################ -->
<!-- How it Works -->
<!-- ################################################################################################################################ -->
<h3 class="mb-2 mt-4 bold" style="text-align: center;">How Kitchup works</h3>
<div class="line-cont">
  <div class="shrt-line"></div>
</div>
<div class="how-it-works-banner">
  <div class="how-it-works-card">
    <img src="/assets/loupe-f358c326ce681fce0db7df735ab3bae405ad0c26af5a39edcd294d2ba03e0575.svg" alt="Loupe" />
    <div class="hiw-text-cont">
      <h3>Find a kitchen</h3>
      <p>Quick and simple search to find your perfect kitchen space</p>
    </div>
  </div>
  <div class="how-it-works-card">
    <img src="/assets/002-medical-766e0a6d8988cd59038fba53dc509c0e019fb23f1dfaf87fe4327e20b899f5e0.svg" alt="002 medical" />
    <div class="hiw-text-cont">
      <h3>View kitchen</h3>
      <p>Directly message a Kitchen Host to arrange a viewing</p>
    </div>
  </div>
  <div class="how-it-works-card">
    <img src="/assets/001-chef-a6ca20135042dd2e794cb281c297f70fa55a15650b0d2a2e3161b7a268c287ae.svg" alt="001 chef" />
    <div class="hiw-text-cont">
      <h3>Get cooking</h3>
      <p>Enjoy use of the kitchen hassle-free. Simple agreements signed online</p>
    </div>
  </div>
</div>
<!-- ################################################################################################################################ -->
<!-- Featured Spaces -->
<!-- ################################################################################################################################ -->

<div class="text-center">
  <h3 class="mb-2 bold">Explore and book commercial kitchen space</h3>
  <div class="line-cont">
    <div class="shrt-line"></div>
  </div>
</div>
<div class="wrapper pt-4 pb-4" id="featured-kitchens">
  <div class="container pt-4 text-center">
    <!-- THE TITLE SECTION -->
    <!-- THE FEATURED SPACES GRID  -->
    <div class="container">
      <div class="row">
        <div class="d-none d-lg-block col-lg-8 no-pad-right">
          <a href="/kitchens?search=East+London">
            <div class="featured-space-card east-london" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 50%), url(/assets/east_london-04479918a301d93949dc54254a4667046ac575796ea5933b801400d215d8d9d7.jpg);">
              <div class="space-square orange btm-left">
                <h2>EAST LONDON</h2>
                <button class="btn-outline-primary btm-left">Browse kitchens</button>
              </div>
            </div>
</a>        </div>
        <div class="col-sx-12 col-md-12 col-lg-4 col-sm-12">
          <a href="/kitchens/9">
            <div class="feature-kitchen-card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 50%), url('https://res.cloudinary.com/dd5qgkski/image/upload/q_auto:low/v1524753883/jebspxdobdy3y9yoimfg.jpg')";>
              <h4>First Option Location Studio</h4>
                <h5>£750 / day</h5>
            </div>
</a>          <a href="/kitchens/35">
            <div class="feature-kitchen-card east-london" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 50%), url('https://res.cloudinary.com/dd5qgkski/image/upload/q_auto:low/v1525343011/jrqigtilnpjrva2xrdwc.jpg')";>
              <h4>Meringue Girls Bakery</h4>
                <h5>£115 / day</h5>
            </div>
</a>        </div>
      </div>


      <div class="row">

        <div class="col-sx-12 col-md-12 col-lg-4 col-sm-12">
          <a href="/kitchens/12">
            <div class="feature-kitchen-card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 50%), url('https://res.cloudinary.com/dd5qgkski/image/upload/q_auto:low/v1528879561/vo8qyy7wvysoushpp1ah.jpg')";>
              <h4>Victoria Production Kitchen</h4>
                <h5>£1600 / month</h5>
            </div>
</a>          <a href="/kitchens/33">
            <div class="feature-kitchen-card east-london" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 50%), url('https://res.cloudinary.com/dd5qgkski/image/upload/q_auto:low/v1525261917/uaqi6a7fs9gweds96cxy.jpg')";>
              <h4>Vauxhall Serviced Kitchen</h4>
                <h5>£180 / day</h5>
            </div>
</a>        </div>
        <div class="d-none d-lg-block col-lg-8 no-pad-left">
          <a href="/kitchens?search=Central+London">
            <div class="featured-space-card east-london" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 50%), url(/assets/north_london-9ec2ea93cef3c7641447f865faceaf37a8031b557b9dcf71c79cdaa20abb83c7.jpg);">
              <div class="space-square blue top-right">
                <h2>CENTRAL LONDON</h2>
                <button class="btn-outline-primary btm-left">Browse kitchens</button>
              </div>
            </div>
</a>        </div>
      </div>
      <div class="row">
        <div class="d-none d-lg-block col-lg-8 no-pad-right">
          <a href="/kitchens?search=South+London">
            <div class="featured-space-card east-london" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 50%), url(/assets/south_london-3f41db7ebe5f6e17e3aa617830e12e9128626a229918dfe1c6c5d8a145410f36.jpg);">
              <div class="space-square red btm-right">
                <h2>SOUTH LONDON</h2>
                <button class="btn-outline-primary btm-left">Browse kitchens</button>
              </div>
            </div>
</a>        </div>
        <div class="col-sx-12 col-md-12 col-lg-4 col-sm-12">
          <a href="/kitchens/73">
            <div class="feature-kitchen-card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 50%), url('https://res.cloudinary.com/dd5qgkski/image/upload/q_auto:low/v1528880892/ladzokjfsumxtgmazwa6.jpg')";>
              <h4>Croydon Cold Prep Kitchen</h4>
                <h5>£1100 / month</h5>
            </div>
</a>          <a href="/kitchens/16">
            <div class="feature-kitchen-card east-london" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 50%), url('https://res.cloudinary.com/dd5qgkski/image/upload/q_auto:low/v1524836764/hbyrd6myogiegylfw72t.jpg')";>
              <h4>London Cooking Project</h4>
                <h5>£150 / day</h5>
            </div>
</a>        </div>
      </div>
    </div>
    <!-- Search Kitchens Button -->
    <!-- Manage Featured Kitchens Button -->
  </div>
</div>

<!-- ################################################################################################################################ -->
<!-- Testimonials -->
<!-- ################################################################################################################################ -->
<div class="test-carousel" style="background-color: #f9f9f9;">
  <div class="wrapper test-cont pt-4 pb-4" id="testimonials" >
    <div class=" pt-4 pb-4 text-center">
      <!-- Title Section -->
      <h3 class="cont-header mb-2">Hear from our kitchen community</h3>
      <div class="line-cont">
        <div class="shrt-line"></div>
      </div>
    </div>
      <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="new-testimonial">
              <div class="new-test-info">
               <div class="test-img"><img class="testimonial-home-avatar" src="https://res.cloudinary.com/dd5qgkski/image/upload/v1524832877/m6hpzkaotkvd50niypn7.jpg" alt="M6hpzkaotkvd50niypn7" /></div>
                <h3>David</h3>
                <p>Founder, Smokestak</p>
              </div>
              <div class="new-test-test-cont">
                <div class="top-quote"><img class="quote" src="/assets/topquote-f8d3130f55cb2274ba7b65092148be49c2c3b580ef2e9d357360ccc5f3855904.png" alt="Topquote" /></div>
                <div class="new-test-testimonial">
                  <p>It is very resourceful, having a huge selection of kitchens with the right equipment you need and in the right area. We wanted to find somewhere that was close to our street food operations and our restaurant, and Kitchup helped us find somewhere bang in the middle.</p>
                </div>
              <div class="btm-quote"><img class="quote" src="/assets/btmquote-69b78e4b7664aefd0a24976b3084c2de8e972f9ff86db0101bbb488d6769ab0c.png" alt="Btmquote" /></div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="new-testimonial">
              <div class="new-test-info">
               <div class="test-img"><img class="testimonial-home-avatar" src="https://res.cloudinary.com/dd5qgkski/image/upload/v1524832922/wphjcre9erxigdfro6ee.jpg" alt="Wphjcre9erxigdfro6ee" /></div>
                <h3>Brandt</h3>
                <p>Co-Founder, Tastehead</p>
              </div>
              <div class="new-test-test-cont">
                <div class="top-quote"><img class="quote" src="/assets/topquote-f8d3130f55cb2274ba7b65092148be49c2c3b580ef2e9d357360ccc5f3855904.png" alt="Topquote" /></div>
                <div class="new-test-testimonial">
                  <p>Great overall experience. Easy to find a space and arrange booking even at short notice. Will definitely use again!</p>
                </div>
              <div class="btm-quote"><img class="quote" src="/assets/btmquote-69b78e4b7664aefd0a24976b3084c2de8e972f9ff86db0101bbb488d6769ab0c.png" alt="Btmquote" /></div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="new-testimonial">
              <div class="new-test-info">
               <div class="test-img"><img class="testimonial-home-avatar" src="https://res.cloudinary.com/dd5qgkski/image/upload/v1524832992/kpwaixpoarkhofqmlnmk.jpg" alt="Kpwaixpoarkhofqmlnmk" /></div>
                <h3>Justine</h3>
                <p>Founder, Justbite</p>
              </div>
              <div class="new-test-test-cont">
                <div class="top-quote"><img class="quote" src="/assets/topquote-f8d3130f55cb2274ba7b65092148be49c2c3b580ef2e9d357360ccc5f3855904.png" alt="Topquote" /></div>
                <div class="new-test-testimonial">
                  <p>As a Kitchen Host, we have so far found Kitchup to be extremely efficient and easy to communicate with. The whole process has been great. We would (and will) highly recommend Kitchup as a service.</p>
                </div>
              <div class="btm-quote"><img class="quote" src="/assets/btmquote-69b78e4b7664aefd0a24976b3084c2de8e972f9ff86db0101bbb488d6769ab0c.png" alt="Btmquote" /></div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="new-testimonial">
              <div class="new-test-info">
               <div class="test-img"><img class="testimonial-home-avatar" src="https://res.cloudinary.com/dd5qgkski/image/upload/v1524833065/v4odjihmd8nk1pqcqks7.jpg" alt="V4odjihmd8nk1pqcqks7" /></div>
                <h3>Stephanie</h3>
                <p>Co-Founder, Pollen + Grace</p>
              </div>
              <div class="new-test-test-cont">
                <div class="top-quote"><img class="quote" src="/assets/topquote-f8d3130f55cb2274ba7b65092148be49c2c3b580ef2e9d357360ccc5f3855904.png" alt="Topquote" /></div>
                <div class="new-test-testimonial">
                  <p>Kitchup found us an interim kitchen which really helped us get through a tricky time and allowed our business to keep running and growing. You really went above and beyond to help us out when we needed it, thank you!</p>
                </div>
              <div class="btm-quote"><img class="quote" src="/assets/btmquote-69b78e4b7664aefd0a24976b3084c2de8e972f9ff86db0101bbb488d6769ab0c.png" alt="Btmquote" /></div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="new-testimonial">
              <div class="new-test-info">
               <div class="test-img"><img class="testimonial-home-avatar" src="https://res.cloudinary.com/dd5qgkski/image/upload/v1524833302/ymilvnlcfastrmgxfyly.jpg" alt="Ymilvnlcfastrmgxfyly" /></div>
                <h3>Ben</h3>
                <p>Founder, Ministry of Startups</p>
              </div>
              <div class="new-test-test-cont">
                <div class="top-quote"><img class="quote" src="/assets/topquote-f8d3130f55cb2274ba7b65092148be49c2c3b580ef2e9d357360ccc5f3855904.png" alt="Topquote" /></div>
                <div class="new-test-testimonial">
                  <p>Since joining Kitchup as a Kitchen Host, we now have many food start-ups who make full use of our commercial kitchens. It’s great to see their businesses grow, whilst supporting us with the additional income.</p>
                </div>
              <div class="btm-quote"><img class="quote" src="/assets/btmquote-69b78e4b7664aefd0a24976b3084c2de8e972f9ff86db0101bbb488d6769ab0c.png" alt="Btmquote" /></div>
              </div>
            </div>
          </div>
        </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <img class="arrows goleft" src="/assets/goleft-5e70e11884d75ca96cc494b6d7b5ea35556d991ba326050ef7fa284c8a4ee6f1.png" alt="Goleft" />
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <img class="arrows goright" src="/assets/goright-006c382b1f1d8f4a88c287f0c0917ad463d57073b495b2f97e52bf619f0002e5.png" alt="Goright" />
      </a>
    </div>
  </div>
</div>


<!-- ################################################################################################################################ -->
<!-- Community -->
<!-- ################################################################################################################################ -->
<div class="wrapper pt-4 pb-4" id="blog">
  <div class="container pt-4 pb-4 text-center">
    <!-- Title Section -->
    <h3 class="mb-2 bold">Life in the kitchen</h3>
    <div class="line-cont">
      <div class="shrt-line"></div>
    </div>
    <!-- 3 Blog Columns -->
    <div class="row mt-4 blog-box">
      <div class="col-lg">
        <a href="https://medium.com/@kitchupuk/7-things-you-need-to-know-about-hiring-kitchen-space-6ccfa12b6de6" target="_blank">
          <div style="background-image: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.02) ), url('/assets/Homepage-blog-guidance-c7adf986ac89178d5ee502573c8382565579e1f1ec966ffbf3d88a18d44ac2b5.jpg');" class="community-card"></div>
          <div class="corner-box orange">
            <h4>Guidance</h4>
          </div>
        </a>
      </div>
      <div class="col-lg blog-box">
        <a href="https://medium.com/@kitchupuk/luminary-bakery-5bc70b4421e7" target="_blank">
          <div style="background-image: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.02) ), url('/assets/Homepage-blog-inspiration-fd896b86acb1d75e0d55863b9b6e50a26399f000b2f54161a2489b246377c4f8.jpg');" class="community-card"></div>
          <div class="corner-box blue">
            <h4>Inspiration</h4>
          </div>
        </a>
      </div>
      <div class="col-lg blog-box">
        <a href="https://medium.com/@kitchupuk/green-kitchen-standard-a-sustainable-approach-to-catering-969015b4fd1" target="_blank">
          <div style="background-image: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.02) ), url('/assets/Homepage-blog-news-7f9dc4fabeff19b93f75a96e64f81dc6f16c19d86810e5aea8199ff9e65522af.jpg');" class="community-card"></div>
          <div class="corner-box red">
            <h4>News</h4>
          </div>
        </a>
      </div>
    </div>
    <!-- Go to blog button -->
    <div class="mt-4">
      <a class="btn btn-outline-primary" target="_blank" href="https://medium.com/@kitchupuk">Read more</a>
    </div>
  </div>

</div>



<!-- LINKS TO EXTERNAL REVIEWS -->

<div class="media-bar mb-4 d-none d-md-block">
  <div class="row aligned pt-3">
    <a href="https://startups.co.uk/twin-entrepreneurs/ ">
      <img class="media-link" src="/assets/startups-873e28c4f8a0f9028601db51ff5e154a7b3e621bc27f9fde39ccced0023dd426.png" alt="Startups" />
    </a>
    <a href="https://bdaily.co.uk/articles/2017/12/13/managed-marketplace-kitchup-smashes-its-100k-crowdfunding-target">
      <img class="media-link" src="/assets/bdaily-cb868d1930557731c253cfd4d80bf5ab76e51fea7dff4a56ccda5c844d3a2a65.png" alt="Bdaily" />
    </a>
    <a href="https://couriermedia.co/hiscox/">
      <img class="media-link" src="/assets/courier-220e11688172543e29c59e4929ab5519687bdb9753e88a4ad927c8e668a0d46c.png" alt="Courier" />
    </a>
    <a href="http://foodtalk.co.uk/blog/2017/08/meet-the-winners-2017 ">
      <img class="media-link" src="/assets/foodtalk-fab66d990ba669c5f6fab14d88c4543f5b77557b51a8d3e4d68e4fe65faf89ab.png" alt="Foodtalk" />
    </a>
    <a href="http://www.foodserviceequipmentjournal.com/pioneering-kitchen-rental-firm-attracts-112-investors-smashes-funding-target/ ">
        <img class="media-link" src="/assets/foodservice-e49a3b4a59af78a8b0bd7f4264ae4f6cf33b6db2ac2a8e5441818abca5bc0df5.png" alt="Foodservice" />
    </a>
  </div>
</div>




<!-- ################################################################################################################################ -->
<!-- JAVASCRIPT -->
<!-- ################################################################################################################################ -->
<script>
  // Need to add event listener to the actual box.
  document.addEventListener("keypress", (e) => {
    if (e.keyCode == 13){
      document.getElementById("homesearch").submit();
    }
  })

  // document.addEventListener("click", myfunction)

  // function myfunction() {
  //   console.log("hey")
  //   document.addEventListener("keypress", (e) => {
  //     if (e.keyCode == 13){
  //       document.getElementById("homesearch").submit();
  //     }
  //   })
  // }
const firstTab = document.getElementById("FirstTab");
const firsttab = document.getElementById("firsttab")
const tablinks = document.getElementsByClassName("tablinks");

// Tabs Selector
// Display first tab initially:
firstTab.style.display = "block";
firsttab.className += " active";
// Change Navbar Title as Tabs Change
tablinks[0].addEventListener("click", () => {
  // document.querySelector(".navbar-brand").innerHTML = "Add an expense"
})
tablinks[1].addEventListener("click", () => {
  // document.querySelector(".navbar-brand").innerHTML = "Settle an expense"
})
// Change Displayed Tab as Tabs Change
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    tablinks = document.getElementsByClassName("tablinks");
  }
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>

        <div class="mailing-bar">
  <img class="mailing-bar-logo" src="/assets/LHSKitchupBlue-0a05e05a1c5322674212d856526ca72a6b7ece804d49cafc6c8bbbb6913c48e4.png" alt="Lhskitchupblue" />
</div>
<h5 class="text-center">Sign up for latest kitchen spaces, top tips and news</h5>
<form class="mailing-bar" novalidate="novalidate" action="/subscribe" accept-charset="UTF-8" method="post">
  <div class="bar-cont">
    <input name="utf8" type="hidden" value="✓" style="display:none;">
    <input type="hidden" name="authenticity_token" style="display:none;" value="ks06TQKZZGz/6e3B0U4aLwwn00TpA7xed7Y/A15rpPOzvG4zsrLVTEDlrw1FjZi2XLIs5blmr9TYCA3X22MgZg==">
    <div class="form-group string required _address form-group-searchbar">
      <input class="mailing-form" type="text" name="email" id="mailing-list" placeholder="Keep up to date..." style="border-radius: 4px 0px 0px 4px; box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1); border: none; padding: 0 20px;">
    </div>
    <button type="submit" name="commit" class="mailing-button" style="color: white; border: none; font-size: 18px; padding: 10px; border-radius: 0px 4px 4px 0px;" data-disable-with="Subscribe "><i class="fas fa-envelope"></i> Subscribe</button>
  </div>
</form>

  <div class="footer">
    <div class="content">
      <ul class="footer-links-list-2 d-md-flex justify-content-center mb-0">
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link m-2" href="https://www.facebook.com/kitchupUK/">
              <p class="footer-link"><i class="fab fa-facebook-square fa-3x"></i></p>
</a>        </li>
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link m-2" href="https://www.instagram.com/kitchupuk/">
              <p class="footer-link"><i class="fab fa-instagram fa-3x"></i></p>
</a>        </li>
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link m-2" href="https://twitter.com/kitchupuk">
              <p class="footer-link"><i class="fab fa-twitter-square fa-3x"></i></p>
</a>        </li>
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link m-2" href="https://www.linkedin.com/company/kitchup/">
              <p class="footer-link"><i class="fab fa-linkedin fa-3x"></i></p>
</a>        </li>
      </ul>
      <div class="f-line-cont">
        <div class="footer-line"></div>
      </div>
      <!-- Links -->
      <ul class="footer-links-list d-none d-sm-flex">
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link" href="/about">About</a></li>
        <li>|</li>
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link" href="/find_a_kitchen">Find a Kitchen</a></li>
        <li>|</li>
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link" href="/list_a_kitchen">List a Kitchen</a></li>
        <li>|</li>
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link" href="/faq">FAQ</a></li>
        <li>|</li>
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link" href="/team">Team</a></li>
        <li>|</li>
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link" href="https://medium.com/@kitchupuk">Blog</a></li>
        <li>|</li>
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link" href="/legal">Terms</a></li>
      </ul>
      <!-- Links Mobile -->
      <ul class="footer-links-list-mobile d-block d-sm-none text-center mr-4">
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link" href="/about">About</a></li>
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link mb-1" href="/find_a_kitchen">Find a Kitchen</a></li>
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link mb-1" href="/list_a_kitchen">List a Kitchen</a></li>
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link mb-1" href="/faq">FAQ</a></li>
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link mb-1" href="/team">Team</a></li>
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link mb-1" target="_blank" href="https://kitchup.co.uk/blog/">Blog</a></li>
        <li><a class="navbar-wagon-item navbar-wagon-link footer-link mb-1" href="/legal">Terms</a></li>
      </ul>



      <p class="text-center" style="color:white; opacity:0.6;">© Kitchup 2015-2018. All Rights Reserved.</p>
    </div>
  </div>
</div>



    <script type="text/javascript">const logged_in = false</script>
    <script src="/assets/application-8c0277beaac0350cb010ddde04154e83793d32349284493edd5c0111cde20116.js"></script>
    <script src="/packs/application-f56ff0a79b102f6b8d24.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyCmiFvGywka7t5VS1vJTnVQaQWGHohTyJ4"></script>
    <script src="/packs/map-0073bb1440ebbd68d6eb.js"></script>
    
  </body>
</html>

    </div>
  </div>
  <div class="page three">
    <div class="inside">
      <h1>Is like measuring aircraft building progress</h1>
    </div>
  </div>
  <div class="page four">
    <div class="inside">
      <h1>By weight.</h1>
    </div>
  </div>
</div>
