.images{
width: 100%; 
height: 500px; 
background-image: asset-data-url("login-background.jpg"); 
background-size: cover; 
background-position-y: -200px;
}

.no-chevron .right.carousel-control, .left.carousel-control {
    display: none;
}
