.white-for-landing-page {
  color: white !important;
}

/* Main navbar */
.navbar-wagon {
  background: transparent;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 500;
}

.navbar-wagon-white {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 500;
}

/* Logo */
.navbar-wagon-brand:hover {
  text-decoration: none;
}

.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: white;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: $orange;
  text-decoration: none;
}
/* Navbar link Dark */
.navbar-wagon-link-dark {
  color: $gray;
  font-size: 14px;
}
.navbar-wagon-link-dark:hover {
  color: $orange;
  text-decoration: none;
}
.navbar-wagon-link-dark:focus {
  color: $orange;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
  margin: 0;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
.dropdown-menu {
  z-index: 25000 !important;
}

.navbar-logo-title {
  padding-left: 10px;
  margin-top: 5px;
}
.navbar-logo-title:hover {
  text-decoration: none;
}

.list-a-kitchen-btn {
  padding: 0px 15px;
  background: linear-gradient(to right, #538CD4, #8AB9F4);
  border-radius: 4px;
  margin-right: 20px;
  padding-top: 13px;
  padding-bottom: 10px;
}

.list-a-kitchen-btn:hover {
  background: $hover-blue;
  color: white;
}
.mobile-mailer-placeholder {
  color: black;
}
